# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
workspace/JavaCard/CAPGenerationScript.txt
workspace/JavaCard/projectBuilder.xml
workspace/.metadata/
java_card_kit-2_2_2/
plugins/
workspace/.metadata/.plugins/org.eclipse.jdt.core/406258650.index
*.xmi
